#################
# Unitats bones #
#################

totesUnitats=Miner-Escut-Pistoler-Escopeta

#########
# Miner #
#########

vidaMiner=100
capacitatMiner=300
proteccioMiner=0
cadenciaMiner=15000
imageMiner=minerImage
animationMiner=minerPicantAnimation
informacioMiner=Vida:Baixa-Atac:No-Proteccio:No-Cadencia:Normal-Altres:Genera recursos 

############
# Pistoler #
############

vidaPistoler=100
capacitatPistoler=20
proteccioPistoler=0
cadenciaPistoler=1000
imagePistoler=pistolerImage
animationPistoler=pistolerAnimation
informacioPistoler=Vida:Baixa-Atac:Baix-Proteccio:No-Cadencia:Normal-Altres:Ataca a distancia